.profile-image {
    max-width: 40px;
    height: 40px;
    object-fit: cover;
}



.header {
    position: fixed;
    width: 100%;
    z-index: 2023;
}

.header-info.active {
    background-color: unset;
    user-select: none;
}

.logo-img {
    width: 200px;
}

.dropdown {
    cursor: pointer;
}

/* meni item  */

.info {
    position: relative;
}

.menu-item {
    position: absolute;
    top: 68px;
    width: 100%;
    background-color: #f8f9fa;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .3);
}

.nav-menu {
    padding: 5px 10px;
    cursor: pointer;
}

.nav-menu:hover {
    background-color: antiquewhite;
}


/* model  */

.modal {
    display: block;
    background-color: rgba(0, 0, 0, .3);
    user-select: none;
    z-index: 10;
}